/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #050505;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

/* Navigation bar styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(100, 111, 236);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
}

/* Section styling */
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #a30909;
}

h2 {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: #020000;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#contact-section {
    background-color: #e9f7ef;
}

#education-section {
    background-color: #f9f9f9;
}

#experience-section {
    background-color: #e9f7ef;
}

#skills-section {
    background-color: #f9f9f9;
}

